body{
  background: #0A66A4;

}

 h1,h2, h3, p, ul, .text{
	color: black;
	clear: both;
  text-align: center;
}
.container{
  border-radius: 15px;
  background: white;
  padding: 50px;
  background: #3A9FE3;

}
.row div{
  background: #FFA62D;
  border-radius: 15px;
  padding: 16px;

}
